.app-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.job-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* added Media queries for responsive layout */
@media (max-width: 768px) {
  .job-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 576px) {
  .job-card-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.loading-message {
  text-align: center;
  color: #aaa;
}
